.tori {
  position: relative;
  text-align: left;
  font-style: inherit;
  padding: 20px 10px 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

.text {
  color: gray;
  border: 1px solid rgb(163, 157, 157);
  border-radius: 3px;
  padding: 7px;
  width: 300px;
  margin: 2px;
}

.what {
  width: 250px;
  border: 1px solid rgb(163, 157, 157);
  border-radius: 3px;
  padding: 7px;
  margin: 2px;
}

.where {
  width: 150px;
  border: 1px solid rgb(163, 157, 157);
  border-radius: 3px;
  padding: 7px;
  margin: 2px;
}



.how {
  margin-top: 20px;
  margin-left: 20px;
  
}

.hbtn {
  position: absolute;
  right: 100px;
  bottom: 2px;
  color: rgb(49, 113, 243);
  font-weight: bold;
  text-align: right;
  display: inline;

}

.btn{
  position: absolute;
  color: aliceblue;
  font-weight: bold;
  right: 15px; 
  background-color: rgb(49, 113, 243);
  border: 2px rgb(49, 113, 243);
  border-radius: 5px;
  padding: 10px;
  width: 70px;
}


button:hover {
  background-color: #3ee532; /* change to your desired color */
  
}
